services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: auto-m8-app
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
